<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498191521998-k7nr835kombn4r07g6hrulfj13li3h1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498191521998-k7nr835kombn4r07g6hrulfj13li3h1a</string>
	<key>API_KEY</key>
	<string>AIzaSyBJbWO9qyHrCi7gNiYKCBxZG1_P6HSsRTo</string>
	<key>GCM_SENDER_ID</key>
	<string>498191521998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>project1-c07d1</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-c07d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498191521998:ios:12e171cd28277f1560189f</string>
</dict>
</plist>